<div class="container">
    <h2>Create Your Order:</h2>
    <div >
      <label for="prdCat" class="form-label" >Category:</label>
      <!-- <select #cat class="form-control" name="cat" id="prdCat" (change)="getSelCat(cat.value)"> -->
      <!-- <select class="form-control" name="cat" id="prdCat" (change)="getSelCat($event)"> //In ts:// event.target.value -->
      <select class="form-select"  name="cat" id="prdCat"  [(ngModel)]="chooseCatID" >
        <option value= "0" selected="">All</option>
        @for( cat of catagorylist;track cat.cat_Id)
       { <option  [value]="cat.cat_Id">{{cat.namecat}}</option>}
      </select>
    </div>
    <h1>{{chooseCatID}}</h1>
    <hr>
    
    <app-productlist [sentCatID]="chooseCatID"></app-productlist>
    
    </div>
  
    
    
